
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'head.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}

    {% load static %}
    <script>
        $.ajaxSetup({
  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
    </script>

    <script src="{% static '/js/input_data.js' %}"></script>
</body>
</html>