{% extends 'master.html' %}
{% block title %}
enter data
{% endblock %}
{% block content %}

<h1>Enter Map </h1>


<div class="container mt-3">

  
  <form id="regForm" action="">

    <h1>Map:</h1>  
    <div class="tab" id="set_map_div">
      Country Name:
      <p><input id="country_name" placeholder="Country name..." oninput="this.className = ''"></p>
      cities Number:
      
      <p><input type="number" id="cities_number" min="3" placeholder="city number..." 
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');this.className = ''"></p>
    </div>
    
    <div id="cities">

    </div>
    <br>
    <div id="danger_alert" class="alert d-none alert-danger">
      <ul>
        <li>
          please Enter border cities number (not zero) !
        </li>
        <li>
          please Enter City Name !
        </li>
      </ul>
      
    </div>

    <!-- One "tab" for each step in the form: -->
    <!-- <div class="tab">
      City Name:
      <p><input placeholder="city name..." oninput="this.className = ''"></p>
      Distance:
      <p><input type="number" min="0" placeholder="city name..." oninput="this.className = ''"></p>
      number border cities :
      <p><input type="number" min="1" placeholder="city name..." oninput="this.className = ''"></p> 
    </div> -->
    
    
    
    <div  id="control_btns" style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" class="d-none" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    

    <!-- Circles which indicates the steps of the form: -->
    <div id="steps_div"  style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <!-- <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span> -->
    </div>
    
    </form> 








  <!-- <form action="/action_page.php">
    {% csrf_token %}
    <button type="button" onclick="add_new_city()" class="btn btn-primary btn-block">Add City</button>
    <div class="row">
        <div class="col-5">
            <div class="mb-3 mt-3">
                <label for="city_name0">City Name :</label>
                <input required type="text" class="form-control" id="city_name0" placeholder="Enter city" name="city">
              </div>
        </div>      
        <div  class="col-2 mb-3 mt-3">
            <label for="city_Distance0">Distance :</label>
            <input required type="number" min="0" class="form-control" id="city_Distance0" name="Distance">
          </div>  
        <div  class="col-3 mb-3 mt-3">
            <label for="city_Distance0">Bordered cities number :</label>
            <input required type="number" min="0" class="form-control" id="city_Distance0" name="bordered_cities_number">
          </div>  
    </div>
    <button type="button" onclick="" class="btn btn-primary">Next</button>
  </form>





<form action="/enter_map_data" method="post">
    

</form> -->
</div>
{% endblock %}